<!DOCTYPE HTML>
<html>
<head>
    <meta name="description" content="A Simple Socket Chat Example">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta charset="utf-8">
    <title>Socket Chat Example</title>
    <link id="favicon" rel="icon" href="https://hyperdev.com/favicon.ico" type="image/x-icon">

    <!-- StyleSheets -->
    <link rel="stylesheet" href="/socketchat.css" />


    <!-- External-Scripts -->
    <script src="https://code.jquery.com/jquery-2.2.1.min.js" integrity="sha256-gvQgAFzTH6trSrAWoH1iPo9Xc96QxSZ3feW6kem+O00=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/knockout/3.4.0/knockout-min.js"></script>
    <script src="https://cdn.socket.io/socket.io-1.4.5.js"></script>
    <!-- Scripts -->
    <!--<script src="/socket.io/socket.io.js"></script>-->
    <script src="/socketchat.js"></script>
    <script src="/socketchatDto.js"></script>

    <!-- Loaded-Scripts-->

</head>
<body>
<header class="header">
    <span>Crazy Chat</span>
</header>
<main class="main">
    <div class="lobby-list" data-bind="foreach:{data: $root.lobbys , as: 'lobby'}">

    </div>
    <div class="lobby-container">
        <div class="message-list" data-bind="foreach:{data: $root.lobbyMessages , as: 'message'}">
            <div>
                <span data-bind="text: message.username"></span>
                <span data-bind="text: message.content"></span>
            </div>
        </div>
        <div class="send-form-container">
            <form class="send-form">
                <fieldset class="username-container">
                    <label>Username:</label>
                    <input data-bind="textInput: $root.username" placeholder="Username"/>
                </fieldset>
                <fieldset class="lobby-message-box-container">
                    <label></label>
                    <textarea class="lobby-message-box" data-bind="textInput: $root.lobbyMessageContent" placeholder="Content"></textarea>
                </fieldset>
                <button class="send-button" data-bind="click: $root.sendLobbyMessage, enable: $root.canSendLobbyMessage">Senden</button>
            </form>
        </div>
    </div>
</main>
<footer class="footer">

</footer>
<div class="login-container" data-bind="visible: $root.isLoginFormVisible">
    <form class="login-form">
        <fieldset class="login-username-container">
            <label class="login-label-username">Username</label>
            <div>
                <input class="login-username" data-bind="textInput: $root.loginName" placeholder="Username"/>
                <div class="login-username-check" data-bind=""></div>
            </div>
        </fieldset>
        <button class="login-button" data-bind="click: $root.login">Login</button>
    </form>
</div>
</body>
</html>